@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

.div{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    position: relative;
    right:10px ;
}
.button{
 border:2px solid;
 border-radius: 5px;
 background: rgba(253, 153, 23, 0.779);
 border: 1px solid;
 cursor: pointer;
 font-size: 18px;
 font-family:'Cinzel', serif;
}
.li{
    list-style: none;
}